<div>
  <div
    class="bg-[#19374F] flex flex-col md:flex md:flex-row justify-center items-center gap-5 pb-6"
  >
    <h5
      class="text-white pt-[21px] md:py-[47px] text-lg md:text-4xl font-semibold"
    >
      Take your first step to sustained health!
    </h5>
    <button class="bg-[#FAC140] text-[#404F66] p-2 md:px-5 md:py-2 rounded-xl"
      >BOOK SCREENING</button
    >
  </div>
  <div class="gap-20 bg-[#FAC141] hidden md:flex">
    <div class="pt-[85px] pl-[122px]">
      <a href="/">
        <img class="" src="/assets/images/png/nura_logo.png" alt="" />
      </a>
      <div class="pt-5 pb-14">
        <img src="/assets/images/png/fugifilm_black_logo.png" alt="" />
      </div>
    </div>
    <div class="flex gap-5 pt-[85px]">
      <p class="text-[#3E5669] text-base font-semibold">FAQS</p>
      <p class="text-[#3E5669] text-base font-semibold">ABOUT</p>
      <p class="text-[#3E5669] text-base font-semibold">CORPORATES</p>
      <p class="text-[#3E5669] text-base font-semibold">CONTACT</p>
      <p class="text-[#3E5669] text-base font-semibold">PRIVACY</p>
    </div>
  </div>
</div>
